/* Presets page to no margin and padding. Sets everythignin border-box and font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

/* Sets background and overflow style. */
body {
  background-color: #1a1b2e;
  position: relative;
}

.gradient-border {
    border: 3px solid #0000;
    border-radius: 12px;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #404040,
        #0cb9ee
      ) border-box;
    animation: 6s rotate linear infinite;
}

.circle-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Ensure circles are behind other content */
  pointer-events: none; /* Prevent interaction with circles */
}
/* Shared circle styles */
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(133, 169, 223, 0.08) 30%,  /* LightBlue tint */
    transparent 100%
  );
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  animation: pulseExpand 20s infinite ease-in-out;
  animation-fill-mode: forwards;
  pointer-events: none;
  z-index: 0;
}

/* Additional circles with staggered animation delays */
.circle:first-child {
  animation-delay: 2s;
}
.circle:nth-child(2) {
  animation-delay: 8s;
}
.circle:nth-child(3) {
  animation-delay: 14s;
}

/* Keyframes for circles. Starts at 0 opcaity, slowly increased then back to 0 to reset. */
@keyframes pulseExpand {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  5% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4
  }
  50% {
    opacity: 0.6;
  }
  80% {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0.25;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* Controls the icons at the top for LinkedIn and Github */
.links {
  display: flex;
  flex-direction: row;
  gap: 10px; /* space between icons */
  margin-top: 130px; /* space from top */
  margin-bottom: 30px; /* space before .intro */
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Format icons */
.linkedin-icon,
.github-icon {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: auto;
}

.linkedin-icon:hover,
.github-icon:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
/* Container for all information */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1b2e;
}

/* Each item box excluding icons */
.item1 {
    background-color: #1a1b2e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 20px;
    width: 40%;
    height: auto;
    padding: 40px 80px;
    margin-bottom: 50px;
}

.item1:first-child {
    margin-top: 100px;
}

.item2 {
    background-color: #1a1b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    width: 40%;
    height: auto;
    padding: 40px 80px;
    margin-bottom: 50px;
}

.item3 {
    background-color: #1a1b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 20px;
    width: 40%;
    height: auto;
    padding: 40px 80px;

}

.lang-header {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles inner items boxes */
.intro,
.languages {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

.languages {
    display: flex;
    justify-content: space-between; /* or 'space-between' */
    align-items: center;
}

.languages img {
    margin-right: 10px;
}

.languages img:hover,
.languages svg:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.lang-icons {
    width: 75px;
    height: 75px;
    padding: 10px;
}

/* Styles all headings and paragraph within intro */
.intro h1,
.intro h3,
.intro h4,
.intro p {
    color: #fff;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.flask-icon {
    fill: white;
}

.intro h1 {
    font-size: 40px;
}

/* to Format the icons */ 
.location-icon,
.email-icon,
.dot-icon {
    fill: red;
    width: 20px;
    height: 20px;
}

.resume-container {
    padding-top: 40px;
}

/* Download Resume button */
.resume-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

/* Animation for gradient outline */
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.item3 h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #1a1b2e;
    color: white;
    width: 100%;
    height: 150px;
    text-align: center;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project h3{
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.item4 {
    background-color: #1a1b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 50px auto 100px auto; /* adds space at bottom */
    border-radius: 20px;
    width: 40%;
    padding: 40px 60px;
}

.item4 h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.job-card {
    color: #fff;
    text-align: left;
    width: 100%;
}

.job-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.job-date {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 15px;
}

.job-details {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 15px;
    line-height: 1.6;
}
