* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

body {
    background-color: #404040;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #404040;
}

.item {
    background-color: #404040;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 5px;
    width: 35%;
    height: 400px;
    margin-bottom: 50px;
}

.item:first-child {
    margin-top: 100px;
}

.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.intro h1,
.intro h3,
.intro h4,
.intro p {
    color: #fff;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.intro h1 {
    font-size: 50px;
}

.location-icon,
.email-icon,
.dot-icon {
    fill: red;
    width: 20px;
    height: 20px;
}

.resume-container {
    padding-top: 20px;
}

.resume-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border: 3px solid #0000;
    border-radius: 12px;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #404040,
        #0cb9ee
      ) border-box;
    animation: 6s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}