
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family : Arial, sans-serif;
}

/* Gradient background for body*/
.gradient-background {
    background: linear-gradient(264deg,#404040,#979797);
    background-size: 120% 120%;
    animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    padding-top: 100px;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

/* Hide menu button by default */
.menu-button {
    display: none;
}

nav img {
    width: 25px;
    height: 20px;
}
/* For tablets bigger than mobile device but smaller than PC screen */
@media (max-width: 750px) {
    /* Show sidebar when screen is small */
    .hideonMobile {
        display: none;
    }
    /* Show menu button when screen is small */
    .menu-button {
        display: block;
    }

}
/* For mobile devices */
@media (max-width: 350px) {
    .sidebar{
        width: 100%;
    }
}
