.item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.062);
    opacity: 0; /* Initially hidden before keyframe animation*/
}

/* Hover effect */
.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    transform: scale(1.05);
}

/* Individual animated boxes */
.one {
    background-color: green;
    width: calc(33.33% - 50px);
    height: 500px;
    animation: slide-right 0.5s ease-in-out both;
}

.two {
    background-color: blue;
    width: calc(66.66% - 50px);
    height: 500px;
    animation: slide-left 0.5s ease-in-out both;
    animation-delay: 0.25s;
}

.three {
    background-color: red;
    width: calc(66.66% - 50px);
    height: 250px;
    animation: slide-right 0.5s ease-in-out both;
    animation-delay: 0.25s;
}

.four {
    background-color: yellow;
    width: calc(33.33% - 50px);
    height: 250px;
    animation: slide-left 0.5s ease-in-out both;
}

.five {
    background-color: purple;
    width: calc(100% - 70px);
    height: 150px;
    animation: slide-up 0.5s ease-in-out both;
    animation-delay: 0.5s;
}

/* Container for layout */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    gap: 30px;
}

.container-wrapper {
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .container {
        width: 90%;
    }

    .item {
        width: calc(100% - 30px);
        height: 200px;
    }

    .one {
        width: calc(100% - 30px);
        height: 400px;
    }
    .two,
    .three,
    .four,
    .five {
        width: calc(100% - 30px);
        height: 200px;
    }
    
}
/* Keyframes */
@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
