<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Riley Denton{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li>Home</li>
            <li>About Me</li>
            <li>Projects</li>
            <li>Resume</li>
            <li>Contact Me</li>
        </ul>
    </nav>
    <!-- Page content will be inserted here -->
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
