{% set current_path = request.path %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Riley Denton{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %} {% endblock %}
</head>
<body class="gradient-background">
    <nav>
        <ul class="sidebar">
            <li onClick=hideSidebar()>
                <a href="#"><img src="{{ url_for('static', filename='images/close.png') }}"></a>
            </li>
            <li>
                <a href="{{ url_for('index') }}" class="{% if current_path == url_for('index') %}active{% endif %}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('projects') }}" class="{% if current_path == url_for('projects') %}active{% endif %}">Projects</a>
            </li>
            <li>
                <a href="{{ url_for('resume') }}" class="{% if current_path == url_for('resume') %}active{% endif %}">Resume</a>
            </li>
            <li>
                <a href="www.linkedin.com/in/riley-denton15"><img src="{{ url_for('static', filename='images/linkedin-icon.png') }}" alt="LinkedIn"></a>
            </li>
        </ul>
        <ul>
            <li><a href="{{ url_for('index') }}">RD</a></li>
            <li class="hideonMobile"><a href="{{ url_for('index') }}" class="{% if current_path == url_for('index') %}active{% endif %}">Home</a></li>
            <li class="hideonMobile"><a href="{{ url_for('projects') }}" class="{% if current_path == url_for('projects') %}active{% endif %}">Projects</a></li>
            <li class="hideonMobile"><a href="{{ url_for('resume') }}" class="{% if current_path == url_for('resume') %}active{% endif %}">Resume</a></li>
            <li class="hideonMobile"><a href="https://www.linkedin.com/in/riley-denton15"><img src="{{ url_for('static', filename='images/linkedin-icon.png') }}" alt="LinkedIn"></a></li>
            <li class="menu-button" onclick="showSidebar()"><a href="#"><img src="{{ url_for('static', filename='images/menu.png') }}"></a></li>
        </ul>
    </nav>
    <main>
    {% block content %}
    

    <!-- Page content will be inserted here -->

    {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
