{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="container-wrapper">
        <div class="container">
            <div class="item one">
                <p>Something 1</p>
            </div>
            <div class="item two">
                <p>Something 2</p>
            </div>
            <div class="item three">
                <p>Another something</p>
            </div>
            <div class="item four">
                <p>something i have not decided yet</p>
            </div>
            <div class="item five">
                <p>Last piece of something</p>
            </div>
        </div>
    </div>
{% endblock %}
